body {
    font-family: Arial, sans-serif;    /* Fuente legible */
    margin: 0;                  /* Elimina margenes por defecto */
    padding: 0;                 /* Elimina padding por defecto */
    background-color: #f4f4f4;  /* Color de fondo suave */
    color: #333;            /* Color de texto oscuro para buena legibilidad */
    text-align: center;  /* Centra el texto */
}

header {
    background-color: #0078d7;  /* Color de fondo azul */
    color: white;            /* Texto blanco */
    padding: 20px;          /* Espaciado interno */
}

header .foto {
    width: 300px;   
    height: 300px;
    border-radius: 50%;
    border: 3px solid white;
    margin-bottom: 10px;
}

section {
    background: white;  /* Fondo blanco para las secciones */
    margin: 20px auto;  
    padding: 20px;  
    max-width: 600px;   
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

ul {
    padding: 3px;          /* Espaciado interno */
}

ul li {
    padding: 5px 0;         /* Espaciado entre elementos de la lista */
}

a {
    color: #0078d7; /* Color azul para enlaces */
    text-decoration: none;  /* Sin subrayado */
}   

footer {
    margin-top: 20px;   
    padding: 10px;
    background: #333;
    color: white;
}

footer a {
    color: #0078d7; /* Color azul para enlaces en el pie de página */
    text-decoration: none;  /* Sin subrayado */
}